<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.axis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".Seguridad" />
        <activity android:name=".Tarjeta" />
        <activity android:name=".TarjetaCedula" />
        <activity android:name=".TarjetaPin" />
        <activity android:name=".TarjetaMonto" />
        <activity android:name=".Configuracion" />
        <activity android:name=".CopiaRecibo" />
        <activity android:name=".Reversar" />
        <activity android:name=".CierreDeLotes" />
        <activity
            android:name=".DashboardDeUsuario"
            android:label="@string/title_activity_dashboard_de_usuario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>